<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title></title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }

        div {
            margin-bottom: 5mm;
            margin-left: 31.7mm;
            margin-right: 31.7mm;
            padding-top: 15mm;
            padding-bottom: 5mm;
            text-align: center;
            border-bottom: 2px solid #e56e6a;
            font-size: 9pt;
            background-color: white;
            color: #1b202b;
        }

        .column {
            float: left;
            width: 50%;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .date {
            text-align: left;
        }

        .text {
            text-transform: uppercase;
            text-align: right;
        }
    </style>
</head>
<body>
<div class="row">
        <span class="column date">
        <img src='https://raw.githubusercontent.com/Reconmap/web-client/master/public/logo.png' width='16' height='16'
             alt='logo'
             style="vertical-align:top; margin-right: 5px; "
        />
        {{ date }}
        </span>
    <span class="column text">Content is confidential, do not redistribute</span>
</div>
</body>
</html>
