name: Build and deployment workflow

on:
  push:
    branches:
      - master

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.CR_USERNAME }}
          password: ${{ secrets.CR_PAT }}
      
      - name: Run containers
        run: docker compose -p rest-api up -d
   
      - name: Push MySQL image
        run: make build push
        working-directory:

      - name: Push NGAPI image
        run: make build push
        working-directory: ng-api

