name: Build and deployment workflow

on:
  push:
    branches:
      - master
# paths:
#      - 'integrations-api/**'

defaults:
  run:
    working-directory: integrations-api

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Login to container registry
        run: echo "${{ secrets.CR_PAT }}" | docker login ghcr.io -u "${{ secrets.CR_USERNAME }}" --password-stdin
      - name: Run containers
        run: docker compose up -d
        working-directory:
      - name: Build
        run: |
          cp config-template.json config.json
          make
      - name: Run tests
        run: make tests
      - name: Run security tests
        run: make security-tests
      - name: Upload CC report
        run: bash <(curl -s https://codecov.io/bash) -f tests/clover.xml
      - name: Deploy
        run: make build push
      - name: Push MySQL image
        run: docker compose push mysql
        working-directory:

