name: Build and deployment workflow

on:
  push:
    branches:
      - master
# paths:
#      - 'integrations-api/**'

defaults:
  run:
    working-directory: integrations-api

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.CR_USERNAME }}
          password: ${{ secrets.CR_PAT }}
      
      - name: Run containers
        run: docker compose -p rest-api up -d
        working-directory:

      - name: Build
        run: |
          cp config-template.json config.json
          make

      - name: Run tests
        run: make tests

      - name: Run security tests
        run: make security-tests
      
      - uses: codecov/codecov-action@v4
        with:
          files: tests/clover.xml

      - name: Push API image
        run: make build push

      - name: Push MySQL image
        run: make push
        working-directory:

      - name: Push NGAPI image
        run: make push
        working-directory: ng-api

